<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Ingredient Scraper</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Ingredient Scraper</h1>
    <form action="http://localhost:5000/results" method="post">
        <input type="text" id = "url" name = "url"/>
        <div id = "submitDiv">
            <input type="submit"  id = "submit" value="Submit"/>

        </div>

        <ul id = "ingredients"></ul> 
    </form>
</body>

</html>
